<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- GOOGLE FONT -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Akshar:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"/>
<!-- STYLE SHEET LINK -->
    <link rel="stylesheet" href="/style.css" />
<!-- ICONS -->
<script src="https://kit.fontawesome.com/ec41095585.js" crossorigin="anonymous"></script>
<!-- SITE TITLE -->
    <title>Edit Your Question</title>
  </head>


  <body>
      <!--*********HEADER*********  -->
    <div class="container-header">
      <header>
        <nav class="nav-edit">
            <a href="/"><img src="/img/footer-icon.svg" class="footer-logo" alt="yellow logo" /></a>
          <a href="https://github.com/JesacaLin/dev-kitty.git" target="_blank"><img src="/img/Github@2x.svg" class="logo" alt="Github logo" /></a>
        </nav>
      </header>
    </div>

<!--*********MY QUESTIONS SECTION*********  -->
<section class="render-edit" id="render-edit-redirect">
<h4 class="about-why">EDIT MY QUESTIONS</h4>
<ul class="render-my-questions">
<% devkittyQ.forEach(details => { %>
    <% if (details._id == idTask){ %>
        <li class="add-a-question-edit">
            <form action="/edit/<%= details._id %>" method="POST" class="add-q-form-edit">
                <input type="text" class="category-edit" value="<%= details.category %>" name="category">
                <textarea class="question-field-edit" name="content"><%= details.content %></textarea>
                <button type="submit" class="confirm">Confirm</button>
                <a href="/"><button class="cancel">Cancel</button></a>
            </form>
        </li>
    <% } else{ %>
        <li class="my-q-list">
            <div class="my-q-list-category">
              <%= details.category %><span>:</span></div>
            <div class="my-q-list-content"><%= details.content %></div>
            <a href="/edit/<%= details._id %>" class="edit"><span class="fa-regular fa-pen-to-square"></span></a>
            <a href="/remove/<%= details._id %>" class="remove"><span class="fa-regular fa-trash-can"></span></a>
          </li>
        <% } %>
    <% }) %>
</ul>
</section>

<!--*********FOOTER*********  -->
  <footer>
    <section class="footer-links">
      <ul class="links">
        <a href="https://github.com/JesacaLin" target="_blank">// GITHUB</a>
        <a href="/">// PORTFOLIO</a>
        <a href="/">// CONTACT</a>
      </ul>
    </section>



    <div class="footer-title">
      <!-- *********will have to give credit to the icons********** -->
      <a href="/"><img src="/img/footer-icon.svg" class="footer-logo" alt="yellow logo" /></a>
      <!-- <h2>DEV KITTY</h2> -->
    </div>
  </footer>

  <!-- the exporting file has to always come first -->
  <script src="data.js"></script>
  <script src="main.js"></script>


</body>

</html>


